.app-features{
    padding-left:12rem;
    padding-right:12rem;
    text-align: left;
    padding-top:9rem
}

.feature-content{
    margin-bottom:3rem;
    /* width:96% */
    
}

.app-features-text{
    margin-bottom: 3.6rem;
    color: var(--color-primary);
    font-size: 32px;
    font-weight: 700;
    list-style: 64px;
}

.feature-card{
    border:none;
    border-radius: 0;
    background:var(--color-primary);
    color:var(--color-tertiary);
    padding:48px 24px; 
}
.feature-card-title{
    font-weight: 700;
    font-size: 24px;
}
.feature-card-content{
    font-size: 18px;
    font-weight: 400;
    line-height:24px;
}
.app-feature-content{
    margin-bottom: 7rem;

}

.feature-content-card{
    padding-left:0
}

.feature-card img{
    border-radius: 0;
}

.app-feature-hero-image{
    width:100%
}

.apply-mobile-image-div2{
    background-color: var(--color-secondary);
    height: 40vh;;
    
}

.apply-mobile-image-div2-img{
    margin-top:-228px;
}

.apply-mobile-image-div1{
    height:60vh;
    font-size: 42px;
    font-weight:700;
}

.apply-app-download{
    margin-top:45px;
}

.apply-app-download img{
    width:116px;
    object-fit: cover;
}
.features-left-aligned{
    padding-right:1.5rem;
}

.features-right-aligned{
    padding-left:1.5rem;
}

.apply-section-heading{
    font-size: 32px;
    font-weight:700
}

@media screen and (max-width:768px){
    .app-features{
        padding: 2.5rem 1rem 0 1rem;
        margin-top:0
    }

    .app-features-text{
        font-size:28px;
        margin-bottom:1rem;
        padding-left:1rem;
        padding-right:1rem;
        line-height: 37px;;
    }
    .feature-content{
        width:100%
    }
    .app-feature-content{
        margin-bottom:2rem;
    }
 
    .features-left-aligned{
        padding-right:12px;
    }
    
    .features-right-aligned{
        padding-left:12px;
    }

    .feature-content{
        margin-bottom:24px;
    }
    .apply-section-heading{
        font-size: 24px;
        font-weight:700
    }
    .apply-mobile-image-div1{
        height:50vh;
    }
}

@media (min-width: 768px) and (max-width: 1440px){
    .app-features{
        padding:5rem 4rem 0 4rem;
    }

    .feature-card{
        padding:32px 24px;
    }

    .feature-content-card{
        padding:8px 0 0 0;
    }
    .apply-section-heading{
        font-size: 24px;
        font-weight:700
    }
   
}

@media screen and (max-width:575px){

    .app-features{
        padding:2.5rem 0 0 0;
    }

    .features-left-aligned{
        padding-right:0;
    }
    
    .features-right-aligned{
        padding-right:0;
    }
}