.navbar{
    display: flex;
    justify-content: space-between;
  
}

.cliste-logo{
    margin-right: 10px;
}

.wrapper{
    padding-left:12rem;
    padding-right: 12rem;
    padding-top: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width:100%
  }
.page-nav{
        height:3.18rem;
        width:34.3rem;
        background-color: rgba(242, 242, 242, 0.5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        padding: 16px 24px;
}

.icons-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
}


.icon{
    background-color: rgba(242, 242, 242, 0.5);
    color:#363638;
}

.icons-nav img{
    height:22.72px;
    width:24.26px;
}

.nav-buttons{
    background-color: rgba(242, 242, 242, 0);
    color:#363638;
    border:none;
    font-size: 16px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.nav-buttons:hover {
    background-color: #fff;
    color:#363638;
    border-radius: 27px;
    padding:4px, 10px;
    
}
.nav-buttons-icon{
    background-color: rgba(242, 242, 242, 0);
    color:#363638;
    border:none;
    font-size: 16px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-buttons-icon:hover{
    background-color: #fff;
    color:#363638;
    border-radius: 27px;
    padding:4px, 10px;
}

.nav-buttons:active {
    background-color: #fff;
    color:#363638;
    border-radius: 27px;
    padding:4px, 10px, 4px, 10px;
    
}

.glassmorphism{
    backdrop-filter: blur(10px);
    background-color: rgba(242, 242, 242, 0.5);
}

.selected{
    background-color: #fff;
    border-radius: 27px;
}

.btn:active{
    background-color: #fff;
}
.links{
    margin-right:12px;
    border-radius: 8px;
    padding:8px;
}

.nav-buttons-app-icon{
    background-color: rgba(242, 242, 242, 0);
    color:#363638;
    border:none;
    font-size: 16px;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-buttons-app-icon:hover{
    background-color: rgba(242, 242, 242, 0);
    color:#363638;
}

