.app-section{
    padding:80px 195px;
    background-color: #315C66;
    text-align: center;
}

.app-section-sub-heading{
    font-size: 32px;
    font-weight: 500;
    color:#FAFAFA;
    margin-bottom: 30px;
}

.app-section-text{
    color:#FAFAFA;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:82.4px;
}

.app-section-heading{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color:#FAFAFA;
    margin-bottom:23px
}
.app-section-image-video{
    justify-content: space-between;
}

.app-section-download{
    text-align: left;
    margin-top:28px;
}
.app-section-video{
    padding-left:130px;
    
}


@media screen and (max-width:768px){
    .app-section{
        padding: 3rem 1rem;

    }

    .app-section-heading{
        font-size: 32px;
    }

    .app-section-sub-heading{
        font-size: 24px;
    }

    .desktop-view{
        display: none !important;
    }
    .app-section-video{
        padding-left:1rem
    }
    .app-section-download{

    }
    .app-section-download img{
        width: 9rem;

    }
    .app-section-download img:nth-child(1){
       margin-right:16px;
    }
    .mobile-view{
        display:block !important;
        margin-bottom:18px;
        text-align: left;
        font-size:16px;
        margin-top:60px;

    }
}