.story-content {
    text-align: center;
    padding: 4.5rem 12rem;
    color: var(--color-tertiary);
    line-height:32px;
}

.team {
    background-color: #048B9E;
}

.founder-message-video {
    width: 100%;
}

.team-content {
    margin-bottom: 12px;
    padding: 0 39px;
}

.story-content-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 24px;
}

.founder-message-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 24px;
}

.founder-message-text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.founder-message {
    padding: 4.5rem 12rem;
    color: var(--color-tertiary);
    line-height:32px;
}

.team-section {
    padding-top: 9rem;
    position: relative;
}

.team-section-heading {
    color: var(--color-tertiary);
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 2.1rem
}

.team-cards {
    background-color: #048B9E;
    text-align: center;

}

.team-cards img {
    margin-right: auto;
    margin-left: auto
}

.team-card-title {
    padding-top: 12px
}

.team-card-heading-1 {
    color: var(--color-tertiary);
    font-size: 18px;
    font-weight: 600;
}

.team-card-heading-2 {
    color: var(--color-tertiary);
    font-size: 18px;
    font-weight: 700;
}

.team-section-2 {
    margin-top: 6rem;
}

.sticky-box {
    background-color: #315C66;
    padding: 50px;
    /* position: absolute;
    top: 107%;
    left: 10%; */
    /* width: 80% */
}

.sticky-box-heading {
    color: var(--color-tertiary);
    font-size: 48px;
    font-weight: 700;

}

.sticky-box-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-tertiary);
}

.team-section-1 {
    margin-bottom: 120px;
}

.story-text {
    font-size: 20px;
    font-weight: 400
}

@media screen and (max-width:768px) {
    .story-content-title {
        font-size: 28px;
        margin-bottom:22px;
    }

    .story-text {
        font-size: 16px;
    }

    .story-content {
        padding: 2rem 1rem 2rem 1rem;
    }

    .founder-message-title {
        font-size: 28px;
        margin-bottom:22px
    }

    .founder-message-text {
        font-size: 16px;
        margin-bottom:22px;
    }

    .team-section {
        padding: 2.5rem 0 2rem 0;
        margin-bottom: 7rem
    }

    .team-section-heading {
        font-size: 32px;
        margin-bottom: 2rem;
    }

    .team-section-1 {
        margin-bottom: 0;
    }

    .founder-message {
        padding: 2rem 1rem 2rem 1rem;
    }
    .team-content{
        padding:0 16px;
        width:50%
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .founder-message {
        padding: 2.5rem;
    }

    .story-content {
        padding: 3rem 12rem;
    }

    .sticky-box {
        background-color: #315C66;
        padding: 50px;
        /* position: absolute;
        top: 100%;
        left: 10%;
        width: 80% */
    }
    .team-section{
        padding-top:3rem;
    }
}