.tech-cards{
    background-color: #fafafa;
    color:#363638;
    text-align: left;
    padding-left:0
 
}
.tech-card-heading{
    font-size: 32px;
    font-weight: 700;

}

.tech-card-text{
    font-size: 20px;
    font-weight: 400;
    color:#363638
}
.tech-content{
    margin-bottom: 40px;
}
.learning-content{
    margin-top: 60px;
}
.learn-heading{
    font-size: 48px;
    font-weight: 700;
    color:#363638
}
.learn-content img{
    margin-top: 3.5rem
}

.learn-content{
        margin-bottom:10rem;
}
.tech-cards-content{
    padding-left:0
}

@media screen and (max-width:768px){
    .learn-content{
        margin-bottom:5rem
    }

    .learn-content img{
        margin-top:2rem
    }
    .learning-content{
        margin-top:20px;
    }
    .learn-heading{
        font-size: 24px;
    }

    .tech-card-heading{
        font-size: 18px;
    }
    .tech-card-text{
        font-size: 20px;
    }
    .tech-content{
        margin-bottom:1rem
    }
}