body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
  color:#363638;
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.font-headings{
  font-family: 'Raleway';
}

.font-paragraphs{
  font-family: 'Nunito Sans';
}

:root{
  --color-primary:#363638;
  --color-secondary:#315C66;
  --color-tertiary: #FAFAFA;
  --color-accent:#050301;
}
