body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA;
  color:#363638;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-headings{
  font-family: 'Raleway', sans-serif;
}

.font-pragraphs{
  font-family: 'Nunito Sans', sans-serif;
}

.wrapper{
  padding-left:12rem;
  padding-right: 12rem;
  padding-top: 2.5rem;
}